alembic==1.3.0
appdirs==1.4.3
attrs==19.3.0
Babel==2.7.0
bibtexparser==0.6.2
cdstarcat==0.2.1
certifi==2019.9.11
chardet==3.0.4
clld==5.0.1
clldmpg==3.4.0
clldutils==3.3.0
colander==1.7.0
colorlog==4.0.2
-e git+https://github.com/clld/concepticon.git@911f06253688226f1c57e0ddfe8c5391f2c9f381#egg=concepticon
configparser==3.5.0
csvw==1.6.0
docopt==0.6.2
feedparser==5.2.1
gunicorn==19.7.1
hupper==1.9
idna==2.8
iso8601==0.1.12
isodate==0.6.0
latexcodec==1.0.7
Mako==1.1.0
Markdown==2.6.11
MarkupSafe==1.1.1
nameparser==1.0.4
paginate==0.5.6
PasteDeploy==2.0.1
pathlib2==2.3.0
plaster==1.0
plaster-pastedeploy==0.7
psycopg2==2.7.3.2
purl==1.5
pybtex==0.22.2
pycdstar==0.3.2
pycldf==1.8.2
pyconcepticon==1.4.0
pyparsing==2.4.4
pyramid==1.10.4
pyramid-exclog==1.0
pyramid-mako==1.1.0
pyramid-tm==2.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.3
PyYAML==5.1.2
rdflib==4.2.2
repoze.lru==0.7
requests==2.22.0
rfc3986==1.3.2
six==1.13.0
SQLAlchemy==1.3.10
tabulate==0.8.5
transaction==2.4.0
translationstring==1.3
Unidecode==1.0.22
uritemplate==3.0.0
urllib3==1.25.6
venusian==3.0.0
waitress==1.4.2
webassets==0.12.1
WebHelpers2==2.0
WebOb==1.8.5
xlwt==1.3.0
yuicompressor==2.4.8
zope.deprecation==4.4.0
zope.interface==4.6.0
zope.sqlalchemy==1.2
