alembic==0.9.6
attrs==17.4.0
Babel==2.5.3
certifi==2017.11.5
chardet==3.0.4
clld==4.2.2
clldmpg==3.3.1
clldutils==2.0.1
colander==1.4
colorlog==3.1.0
configparser==3.5.0
csvw==1.0
feedparser==5.2.1
gunicorn==19.7.1
hupper==1.0
idna==2.6
iso8601==0.1.12
isodate==0.6.0
latexcodec==1.0.5
Mako==1.0.7
MarkupSafe==1.0
nameparser==0.5.6
paginate==0.5.6
PasteDeploy==1.5.2
pathlib2==2.3.0
plaster==1.0
plaster-pastedeploy==0.4.2
psycopg2==2.7.3.2
purl==1.3.1
pybtex==0.21
pycldf==1.0.10
pyparsing==2.2.0
pyramid==1.9.1
pyramid-exclog==1.0
pyramid-mako==1.0.2
pyramid-tm==2.2
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.3
PyYAML==3.12
rdflib==4.2.2
repoze.lru==0.7
requests==2.18.4
rfc3986==1.1.0
six==1.11.0
SQLAlchemy==1.2.1
tabulate==0.8.2
transaction==2.1.2
translationstring==1.3
uritemplate==3.0.0
urllib3==1.22
venusian==1.1.0
waitress==1.1.0
webassets==0.12.1
WebHelpers2==2.0
WebOb==1.8.0rc1
-e git+https://github.com/clld/wold2.git@313570d55f9463ab013e2d2741f700a0815cca93#egg=wold2
xlwt==1.3.0
yuicompressor==2.4.8
zope.deprecation==4.3.0
zope.interface==4.4.3
zope.sqlalchemy==0.7.7
